body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    min-height: 100vh;
}

.wave-wrapper {
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    border: 1px solid black;
}

.wave-container {
    margin: 30px auto 0 auto;
    width: 95%;
    height: 50%;
}

.rest-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rest-wrapper button {
    width : 20%;
    height: 70px;
    font-size: 22px;
    font-weight: 700;
    background-color: #e4ddfa;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.rest-wrapper button:hover {
    color: #cb21fe
}

.rest-wrapper p {
    width: 20%;
}

.rest-wrapper .wave-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}